<% provide(:title, "Create Post") %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h1>Create Post</h1>
    </div>

    <%= render 'form', post: @post %>
  </div>

</div>